HIVEMQ_BROKER=HIVEMQ_BROKER
HIVEMQ_PUBLISHER_USERNAME=HIVEMQ_PUBLISHER_USERNAME
HIVEMQ_PUBLISHER_PASSWORD=HIVEMQ_PUBLISHER_PASSWORD
HIVEMQ_SUBSCRIBER_USERNAME=HIVEMQ_SUBSCRIBER_USERNAME
HIVEMQ_SUBSCRIBER_PASSWORD=HIVEMQ_SUBSCRIBER_PASSWORD